<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
         {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
          <input placeholder="Location">
          <button>Search</button>
        </form>

        <p id='location'></p>
        <p id='temperature'></p>
        <p id='description'></p>
        <p id='wind_speed'></p>
        <p id='wind_degree'></p>
        <p id='wind_dir'></p>
        <p id='pressure'></p>
        <p id='precip'></p>
        <p id='humidity'></p>
        <p id='cloudcover'></p>
        <p id='feelslike'></p>
    </div>
  
    {{>footer}}

        <script src="/js/fetchWeather.js"></script>
  </body>
</html>